.container{
    display: flex;
    
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
}
form{
    
    width: 80%;
    max-width: 500px;
}

label{
    
    font-size: 28px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color:rgb(75, 75, 75);
}
input{
    background-color: transparent; 
    border: none;
    margin-bottom:25px;

    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    width: 80%;
    margin-left: 30px;
}
.edit-mode input {
    background-color: white; 
    border-bottom: 1px solid #000;
}
.button{
    height: 50px;
    width: 250px;
    border-radius: 5%;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    
}