<div class="container">
  <form [formGroup]="user.form">

    <div class="form-group"  [ngClass]="{'edit-mode': isEditMode}" *ngFor="let field of user.formFields">

      <label for="{{ field.id }}">{{ field.label }}</label>

      <input
          [id]="field.id"
          [formControlName]="field.id"
          [readonly]="!isEditMode"
          *ngIf="isPasswordType(field.id) !== 'password'; else passwordField"
        />
        
        <ng-template #passwordField>
          <input
            type="password"
            [id]="field.id"
            [formControlName]="field.id"
            [readonly]="!isEditMode"
          />
        </ng-template>

      <div *ngIf="user.form.get(field.id)?.hasError('required') && user.form.get(field.id)?.touched" class="error-message">
        {{ field.label }} Needed

      </div>
    </div>
    <button mat-flat-button *ngIf="isEditMode" (click)="saveProfile()" class="button"color="primary">Save</button>
    <button mat-flat-button (click)="toggleEditMode()" class="button" >
      {{ isEditMode ? 'Cancel' : 'Edit' }}
    </button>
  </form>
</div>
