<div class="login-page">

  <div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="user.form">
      <mat-form-field class="form-group">
        <mat-label for="username">Enter your username</mat-label>
        <input matInput type="text" id="username" placeholder="Username" name="username" autocomplete="off" formControlName="username" />
        <mat-error *ngIf="user.form.get('username')?.hasError('required') && user.form.get('username')?.touched">
          Username is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label for="password">Enter your password</mat-label>
        <input matInput type="password" placeholder="Password" id="password" name="password" autocomplete="off" formControlName="password">
        <mat-error *ngIf="user.form.get('password')?.hasError('required') && user.form.get('password')?.touched">
          Password is required
        </mat-error>
      </mat-form-field>

      <button class="login-button" type="submit" mat-raised-button color="warn">Login</button>

      <button class="register-button" [routerLink]="['/auth/register']" mat-raised-button>Register</button>
    </form>
  </div>
  
</div>
