<div *ngIf="shouldShowHeader()">

    <mat-toolbar color="basic">
        <span class="title">SHIBANK</span>
        <button mat-button routerLink="/home" class="button">Home</button>
        <button mat-button (click)="profile()" class="button">Profile</button>
        <button mat-button routerLink="/banking/accounts" class="button">Accounts</button>
        <button mat-button routerLink="/banking/transactions" class="button">Transactions</button>
        <span class="spacer"></span>
        <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>

</div>